@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

.dark {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  /* Global transition for theme switching */
  *, ::before, ::after {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* FORCE CACHE INVALIDATION 2 */
